/(docs)Empowering Odia Script Understanding_ CNN-driven Insights into Digits and Characters.pdf
/(ppt)Empowering Odia Script Understanding  CNN Driven Insights into Digits and Characters.pdf
/Odia Handwritten Analysis (PPT).pdf
/Odia Handwritten Analysis (Report).pdf
/Odia Script AMSE-2024.docx
/Odia Script AMSE-2024.pptx
/odia script(Abstract).docx
/odia-recognition-using-cnn.ipynb
/test.ipynb
/array_data.csv
/new_data.csv